<div class="container">
  <div class="mb-3 row">
    <label for="inputPassword" class="col-sm-2 col-form-label">Projet:</label>
    <div class="col-sm-3">
      <input type="texte" class="form-control" id="inputText">
    </div>
    <label for="inputPassword" class="col-sm-2 col-form-label">Secteur Activité:</label>
    <div class="col-sm-3">
      <!-- <select type="text" class="form-control" id="inputText"></select> -->
      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
        <option selected>Informatique</option>
        <option value="1">Agriculture</option>
        <option value="2">Elevage</option>
        <option value="3">Pisciculture</option>
      </select>
    </div>
    <label for="inputText" class="col-sm-2 col-form-label">Date:</label>
    <div class="col-sm-3">
      <input type="date" class="form-control" id="inputText">
    </div>
  </div>

  <div class="form-floating">
    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
    <label for="floatingTextarea2"></label>
  </div>
</div>
