// @import


body{
  background-color: #979690;
}

.container{
  .logo{
    max-width: 190px;
    height: 50px;
    margin: auto;

    img{
      height: auto;
      width: 100%;
      margin: 15px auto;
    }
  }

  .formulaire{
    background-color: #3c5aa6;
    border-radius: 10px;
    padding: 1rem;
    height: auto;
    width: 70%;
    margin: 5rem auto;
    form{
      padding: 1rem;
      color: white;
      .conteneur{
        padding: 1rem;
        .form-floating{
          margin: 1rem 0;
          .form-control{
            padding: 1rem;
          }
        }
      }
      button{
        background-color: #4b7af2;
        margin: 2rem 0;
      }
    }
  }
}















// .container{
//   img{
//     height: 50px;
//     width: 215px;
//     margin: 16px 40%;
//   }
//   .login-form {
//     height: 100%;
//     width: 60%;
//     margin: auto;
//     border-radius: 15px;
//     // display: flex;
//     align-items: center;
//     padding: 40px;
//     background-color: #3c5aa6;
//   }

//   .form-signin {
//     width: 100%;
//     // max-width: 430px;
//     // padding: 10px;
//     margin: auto;
//     text-align: left;
//   }

//   h1{
//     color: white;
//   }

//   label{
//     color: white;
//   }

//   .form-signin .checkbox {
//     font-weight: 400;
//   }

//   .form-signin .form-floating:focus-within {
//     z-index: 2;
//   }

//   .form-signin input[type="email"] {
//     margin-bottom: -1px;
//     border-bottom-right-radius: 0;
//     border-bottom-left-radius: 0;
//   }

//   .form-signin input[type="password"] {
//     margin-bottom: 10px;
//     border-top-left-radius: 0;
//     border-top-right-radius: 0;
//   }

//   button{
//     background-color: #4b7af2 !important;
//   }
// }
