<div class="container">
  <div class="photo">
    <img src="" alt="">
  </div>
  <div class="bloc">
    <div class="infos">
      <p>Nom Prenom</p>
      <p>Status(Entrepreneur)</p>
      <p>Adresse</p>
    </div>
      <!-- ******************************presentation******************************************************** -->

    <div class="presentation">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Présentation: </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
        </textarea>
      </div>
      <!-- <h3>Présentation</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo rem possimus, officia provident quaerat illum! Saepe maiores animi adipisci atque doloremque, quis molestias mollitia ut nobis nihil voluptates numquam ullam.</p> -->
    </div>
  </div>
</div>


