<div class="container">
  <div class="logo">
    <img src="../../assets/Fadimalogo1.png" alt="">
  </div>

    <main class="form-signin">

      <form (ngSubmit)="onSubmit()" [formGroup]="signupForm" class="form">
        <h1>S'incrire à Investir Au Pays</h1>
        <div class="row g-2">
          <div class="col-md">
            <div class="mb-3">
              <label for="floatingSelectGrid label">Civilité </label>
              <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected>Civilité</option>
                <option value="1">Madame</option>
                <option value="2">Mr</option>
                <option value="3">Autre</option>
              </select>
            </div>
          </div>
          <div class="col-md">
            <div class="mb-3">
              <label for="floatingSelectGrid">Profil </label>
              <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected>Profil</option>
                <option value="1">Investisseurs</option>
                <option value="2">Entrepreuneur</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row g-2">
        </div>
        <br>
        <div class="row g-2">
          <div class="col-md">
            <div class="mb-3">
              <label for="floatingInputGrid">Nom</label>
              <input type="text" class="form-control" id="floatingInputGrid" placeholder="Keita" value="">
            </div>
          </div>
          <div class="col-md">
            <div class="mb-3">
              <label for="floatingInputGrid">Prenom</label>
              <input type="text" class="form-control" id="floatingInputGrid" placeholder="Mariam" value="">
            </div>
          </div>
        </div>
        <br>
        <div class="row g-2">
          <div class="col-md">
            <div class="mb-3">
              <label for="floatingInputGrid">Telephone</label>
              <input type="number" class="form-control" id="floatingInputGrid" placeholder="01 47 58 92 34" >
            </div>
          </div>
          <div class="col-md">
            <div class="mb-3">
              <label for="floatingInputGrid">Email</label>
              <input type="text" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="">
            </div>
          </div>
        </div>
        <br>
        <div class="row g-2">
          <div class="col-md">
            <div class="mb-3">
              <label for="floatingInputGrid">Pays</label>
              <input type="text" class="form-control" id="floatingInputGrid" placeholder="Mali" value="">
            </div>
          </div>
          <div class="col-md">
            <div class="mb-3">
              <label for="floatingInputGrid">Mot De Passe</label>
              <input type="text" class="form-control" id="floatingInputGrid" placeholder="........................." value="">
            </div>
          </div>
        </div>
        <div class="blocPaire">
          <button class="btn btn-primary"
                type="submit"
                [disabled]="signupForm.invalid">Création</button>
          <p>En cliquant sur S’inscrire, vous acceptez nos Conditions générales. Découvrez comment nous
            recueillons, utilisonVotr s et partageons vos données en lisant notre Politique d’utilisation
            des données et comment nous utilisons les cookies et autres technologies similaires en consultant
            notre Politique d’utilisation des cookies. Vous recevrez peut-être des notifications par texto
            de notre part et vous pouvez à tout moment vous désabonner.
          </p>
        </div>
      </form>
    </main>
</div>
<app-footer></app-footer>
