
  img{
    height: 40px;
    width: 150px;
    color: #f27e63 !important;
  }

  ul.list{
    margin-left: 70%;
  }
      li {
        a{
          color: white !important;
        }
        .nav-link:active{
          color: #f27e63;
        }
      }

      #color{
        background-color: #4b7af2;
      }
    i{
      color: #f27e63 !important;
    }
    .select{
      // background-color: #4b7af2;
      display: flex;
    }

    .drop_down{
      #navbarDropdown, .dropdown-menu{
        color: blue-lith;
      }

      .dropdown-toggle,  .dropdown-menu{
        background-color: #4b7af2;
      }

      .dropdown-item{
        color: white;
      }
    }


  @media (max-width: 640px) {//ajouter des class à utiliser dans le scss
    .drop_down{
      #navbarDropdown, .dropdown-menu{
        color: blue-lith;
      }

      .dropdown-toggle,  .dropdown-menu{
        background-color: #4b7af2;
        right: inherit;
      }

      .dropdown-item{
        color: white;
      }
    }
  }
