<p>publication works!</p>
<!-- <div class="container">
  <div class="headDiv">
    <div class="photo">
      <img src="../../assets/images.jpg" alt="">
    </div>
    <h4>Nom Prenom</h4>
  </div>
  <div class="post">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem asperiores rerum temporibus. Reprehenderit saepe recusandae minus? Minus dolores mollitia molestias, facilis deserunt at dignissimos sit alias, animi modi nostrum deleniti?</p>
  </div>
  <div class="footerDiv">
    <i class="far fa-comment-alt"></i>
    <div class="styloPoubelle">
      <i class="fas fa-pencil-alt"></i>
      <i class="far fa-trash-alt"></i>
    </div>
  </div>
</div> -->
