.container{
  height: auto;
  width: 30%;
  background-color: #979690;
  margin: 10px;
  .headDiv{
    display: flex;
    padding: 20px;
    .photo img{
      border-radius: 50%;
      height: 50px;
      width: 50px;
    }
  }
  .footerDiv{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid black;
    padding: 20px;
    .styloPoubelle{
      i{
        padding: 0 10px;
      }
    }
  }

}
