$Blue-primary : #3c5aa6 !important;
$blue-lith : #4b7af2 !important;
$salmon-color : #f27e63;
$grisJaune : #979690;

$border-radus: 15px;
$border-bottom-right-radius: 0;
$border-bottom-left-radius: 0;
